:root {
    --reportScreenWith: 1000px
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: fit-content;
    border-radius: 10px;
}
.reportInputs {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: max-content;
    margin: 5px;
}
.reportInputs button,input,textarea {
    display: block;
    margin: 5px;
    resize: none;
    width: 170px;
}
.reportInputs textarea {
    height: 135px;
}
.reportInputs input[type="radio"] {
    display: inline;
    width: min-content;
}

.listDiv {
    overflow: auto;
    border: 1px solid black;
    margin: 5px 0px 5px 5px;
    border-radius: 10px;
    width: var(--reportScreenWith);
}
.reportListDiv {
    height: 505px;
}
.laboratorianListDiv {
    height: 150px;
    width: var(--reportScreenWith);
}

.reportDiv {
    border-bottom: 1px solid black;
    height: 30px;
    display: flex;
    flex-direction: row;
}
.reportDiv div {
    text-align: center;
}
.reportDiv div span {
    display: block;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




.reportBar {
    position: fixed;
    height: 45px;
    width: var(--reportScreenWith);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.reportBar div {
    border-right: 1px solid black;
    text-align: center;
}
.barDiv span {
    display: block;
    margin-top: 10px;
}
.reportDiv img {
    cursor: pointer;
    margin-right: 10px;
}


.editDiv {
    height: 80px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}
.editDiv input {
    height: 15px;
    margin-top: 30px;
}









